/* ===== Elements ===== */
body {
  background-color: darkgray;
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1 {
  background-color: white;
}

h3 {
  text-decoration: underline;
  /* align-self: center; */
}

h4 {
  height: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}

button:hover {
  background-color: lightgray;
}
/* ===== Classes ===== */
.sqr {
  width: 15%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 18px;
  text-align: center;
  text-wrap-mode: nowrap;
  margin: 3px;
  border-color: black;
  background-color:gray;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sqr:hover {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-self: center;
}

.center-items {
  align-items: center;
}

.map-adjacent {
  height: 270px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.inv-btn {
  display: flex;
  width: 150px;
  aspect-ratio: 1/0.3;
  justify-content: center;
  align-items: center;
}

.statbox {
  width: 33%;
  height: 300px;
}

/* .stats {
  display: flex;
  flex-direction: column;
} */

.sqr25 {
  aspect-ratio: 1/1;
  width: 40px;
  border: 3px solid black;
  font-size: 16px;
  text-align: center;
  text-wrap-mode: nowrap;
  margin: 3px;
  border-color: black;
  background-color:gray;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.bold {
  font-weight: bold;
}

.stat-line {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.inv-menu-btn {
  border-radius: 0px;
  gap: 0px;
  margin: 0px;
  background-color: rgba(255,255,255,0);
}

.highlight-btn {
  opacity: 30%;
}

/* ===== Ids ===== */
#map {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

#game-area {
  background-color: beige;
  max-width: 800px;
  align-self: center;
}

#instructions {
  background-color: white;
  width: 100%;
}

#inventory {
  overflow-y: scroll;
  height: 65%;
  /* min-height: 65%; */
  /* prevent #inv-menu overlap */
  /* max-height: 65%; */
  gap: 5px;
}

#battle-log {
  overflow-y: scroll;
  background-color: rgba(255,255,255,0.5);
  /* background-color: rgba(0,0,0,0.5); */
  text-align: left;
  width: 100%;
  height: 65%;
}

#battle-log p:hover {
  background-color: lightgray;
}

#body-sub {
  min-width: 700px;
  max-width: 1000px;
}

#equipment {
  overflow-y: scroll;
  font-weight: bold;
}

#inv-menu {
  margin-bottom: 10px;
  /* overflow-x: scroll; */ /* Only neccessary if more inventory categories are needed */
}