/* ===== Elements ===== */
body {
  background-color: darkgray;
  font-family: system-ui, sans-serif;
  margin: 0;
}

h1 {
  background-color: white;
}

h3 {
  background-color: rgba(255,255,255,0.7);
  text-decoration: underline;
  margin-bottom: 5px;
}

h4 {
  height: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: lightgray;
}
/* ===== Classes ===== */
.sqr {
  width: 15%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 18px;
  text-align: center;
  text-wrap-mode: nowrap;
  margin: 3px;
  border-color: black;
  background-color:gray;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sqr:hover {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-self: center;
}

.center-items {
  align-items: center;
}

.map-adjacent {
  height: 270px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.inv-btn {
  display: flex;
  width: 150px;
  aspect-ratio: 1/0.3;
  justify-content: center;
  align-items: center;
}

.statbox {
  width: 33%;
  /* height: 300px; */
}

/* .stats {
  display: flex;
  flex-direction: column;
} */

.sqr25 {
  aspect-ratio: 1/1;
  width: 40px;
  border: 3px solid black;
  font-size: 16px;
  text-align: center;
  text-wrap-mode: nowrap;
  margin: 3px;
  border-color: black;
  background-color:gray;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.bold {
  font-weight: bold;
}

.stat-line {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.inv-menu-btn {
  border-radius: 0px;
  gap: 0px;
  margin: 0px;
}

.highlight-btn {
  opacity: 30%;
}

.flex-line {
  height: 20px;
  font-size: 12px;
  gap: 5px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.flex-line:hover {
  background-color: lightgray;
}

.battle-btn {
  aspect-ratio: 5/1;
  width: 70%;
  margin-top: 5px;
}

.command-box {
  margin-top: 5px;
  overflow-y: scroll;
  align-items: center;
  width: 90%;
  height: 50%;
  background-color: rgba(255,255,255,0.3);
}

.hp-stat {
  color: green;
}

.mp-stat {
  color: blue
}

.stat-display {
  background-color: rgba(255,255,255,0.5);
}

/* ===== Ids ===== */
#map {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

#game-area {
  background-color: beige;
  max-width: 800px;
  align-self: center;
  background-image: url("https://images.freeimages.com/images/large-previews/f7c/krzyztopor-castle-1232338.jpg?fmt=webp&h=350");
  alt: 'dungeon corridor';
  background-repeat: no-repeat;
  background-size: cover;
}

#battle-area {
  height: 300px;
}

#instructions {
  background-color: white;
  width: 100%;
}

#inventory {
  overflow-y: scroll;
  width: 90%;
  height: 65%;
  gap: 5px;
  background-color: rgba(255,255,255,0.3);
}

#battle-log {
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: left;
  width: 230px;
  height: 230px;
}

#battle-log p {
  margin: 10px;
}

#battle-log p:hover {
  background-color: lightgray;
  color: black;
}

#body-sub {
  min-width: 700px;
  max-width: 1000px;
}

#equipment {
  overflow-y: scroll;
  font-weight: bold;
  margin-top: 20px;
  justify-items: end;
  align-items: end;
  background-color: rgba(255,255,255,0.5);
  /* align-self: flex-end; */
}

#inv-menu {
  margin-bottom: 10px;
  /* Next line is only neccessary if more inventory categories are needed */
  /* overflow-x: scroll; */
}

#equipment {
  overflow-y: scroll;
  width: 80%;
  height: 80%;
  gap: 5px;
  align-items: center;
}